* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #41EAD4;
    --light-primary-color: #FDFFFC;
    --secondary-color: #41EAD4;
    --tertiary-color: #FF9F1C;
    --dark-color: #011627;
}

body {
    font-family: 'Actor', sans-serif;
}

header {
    background-color: var(--dark-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 125px;
}

header h1 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 55px;
    padding-left: 40px;   
    color: var(--tertiary-color);
}

nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 15px;
}

nav ul li {
    font-size:26px;
    padding: 15px;
    font-style: normal;
    text-decoration: none;
    list-style: none; 
}

nav a {
    text-decoration: none;
    color: var(--secondary-color);
    text-transform: uppercase;
}
.hero {
    background-image: url(assets/images/storm-trooper.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 20%;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.hero h2 {
    margin-left: 15%;
    font-size: 40px;
    color: var(--dark-color);
    font-style: italic;
}

.main {
    background-color: var(--dark-color);
    padding: 25px;
    color: var(--light-primary-color);
    display: flex;
    flex-direction: column;
}

.main h2 {
    color: var(--tertiary-color);
    text-decoration: underline double var(--secondary-color);

}

.main img {
    height: 350px;
    width: auto;
    border-radius: 50%;
}

.main span {
    font-size: 20px;
}

.content {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.content h2 {
    font-size: 60px;
    text-align: right; 
    height: auto;
    width: 300px;
    
    padding-right: 20px;
}

.info {
    height: auto;
    font-size: 25px;
    list-style: none;
    padding: 30px;
    
}

.about {
    flex: 3;
    text-align: left;
}

.grid-wrapper {
    height: 600px;
}

.work-grid{
    display: grid;
    width: 70%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    padding: 30px;
}

.project {
    display: flex;
    align-items: flex-end;
    padding: 25px 15px;
    font-size: 20px;
    border: solid var(--light-primary-color) 7px;
    text-decoration: none;
    color: var(--light-primary-color);
    opacity: 50%;
    transition: .7s;
}

.project:hover {
    opacity: 100%;

}

.run-buddy {
    background-image: url(assets/images/run-buddy.jpg);
    background-size: cover;
    grid-column: 1 / span 2;
    grid-row: 1 / 3;
}

.project-label {
    background-color: var(--dark-color);
    padding: 15px;
    border-radius: 20px;
    border: 5px solid var(--tertiary-color);
}

.food-timer {
    background-image: url(assets/images/food-img.jpg);
    background-size: cover;
    grid-column: 3 / span 1;
}

.hike-planner {
    background-image: url(assets/images/hiking-img.jpg);
    background-size: cover;
    grid-column: 3 / span 1;
}

.game-finder {
    background-image: url(assets/images/game-img.jpg);
    background-size: cover;
    grid-column: 1 / span 1;
}

.iphone-app {
    background-image: url(assets/images/phone-img.jpg);
    background-size: cover;
    grid-column: 2 / span 1;
}

.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact li {
    padding: inherit;
}